<div class="row d-flex justify-content-center">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center">User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        {{# each orders }}
            <div class="panel panel-default">
                <li id="outter-list-group" class="list-group-item">
                    <div class="panel-body">
                        <ul class="list-group">
                            {{# each this.items }}
                                <li id="inner-list-group" class="list-group-item">
                                    <span class="badge">{{ this.price }}</span>
                                    {{ this.item.title }} | {{ this.qty }} Units
                                    <img src="{{ this.item.imagePath }}"  id="pic" alt="..." class="img-responsive float-right">
                                </li>
                            {{/each}}
                        </ul>
                    </div><br>
                    <div class="panel-footer">
                        <strong>Total Price: ${{ this.cart.totalPrice }}</strong>
                    </div>
                </li>
            </div><br>
        {{/each}}
    </div>
</div> 